<h1>Team</h1>

<div class="team">
    <p>Team Name: <%= @team.name %></p>
    <p>Team Motto: <%= @team.motto %></p>
</div>

<% @members.each do |member| %>
    <h1>Hero Name: <%= member.name %></h1>
    <p>Hero Power: <%= member.power%></p>
    <p>Hero Biography: <%= member.bio%></p>
<% end %>

