 <h1>Team & Heroes</h1>
 
<%=@team.name%>
<%=@team.motto%>

<h2>Super Hero 1</h2>
<%=@superhero.name%>
<%=@superhero.power%>
<%=@superhero.bio%>

<h2>Super Hero 2</h2>
<%=@superhero.name%>
<%=@superhero.power%>
<%=@superhero.bio%>


<h2>Super Hero 3</h2>
<%=@superhero.name%>
<%=@superhero.power%>
<%=@superhero.bio%>


